---
import Css from "@/icons/css.astro";
import Git from "@/icons/git.astro";
import Html from "@/icons/html.astro";
import Javascript from "@/icons/javascript.astro";
import Next from "@/icons/next.astro";
import Node from "@/icons/node.astro";
import Phoenix from "@/icons/phoenix.astro";
import Php from "@/icons/php.astro";
import Postgres from "@/icons/postgres.astro";
import React from "@/icons/react.astro";
import Remix from "@/icons/remix.astro";
import Mysql from "@/icons/sql.astro";
import Tailwind from "@/icons/tailwind.astro";
import Typescript from "@/icons/type.astro";
import Vue from "@/icons/vue.astro";
import { skills } from "@cv";
import Section from "../Section.astro";

const SKILLS_ICONS: Record<string, any> = {
  Html,
  Css,
  Javascript,
  Typescript,
  React,
  Node,
  Mysql,
  Git,
  Next,
  Tailwind,
  Vue,
  Remix,
  Php,
  Phoenix,
  Postgres,
};
---

<Section title="Engineering Skills">
  <ul>
    {
      skills.map(({ name, icon, description, url }) => {
        const Icon = SKILLS_ICONS[icon];

        return (
          <li>
            <a href={url} title={description} target="_blank">
              {Icon && <Icon />} <span>{name}</span>
            </a>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
