---
import Layout from "@/layouts/Layout.astro";

import KeyboardManager from "@/components/KeyboardManager.astro";
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import SoftSkills from "@/components/sections/SoftSkills.astro";
import { Tooltips } from 'astro-tooltips';

import { basics } from "@cv";
const { name, label } = basics;
---

<head>
  <meta charset="UTF-8">
  <Tooltips interactive={false} delay={[15, 50]} maxWidth='250px' />
</head>

<Layout title={`${name}'s portfolio' - ${label}`}>
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <SoftSkills />
    <Skills />
  </main>

  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
